In [1]:
import pandas as pd

In [4]:
#criando uma serie
s = pd.Series (list('jnwioewb9oqbppqw9b'))

In [5]:
s

0     j
1     n
2     w
3     i
4     o
5     e
6     w
7     b
8     9
9     o
10    q
11    b
12    p
13    p
14    q
15    w
16    9
17    b
dtype: object

In [7]:
#vai mostrar oq eu digitei sem estar repetido 
s.unique()

array(['j', 'n', 'w', 'i', 'o', 'e', 'b', '9', 'q', 'p'], dtype=object)

In [8]:
# quantas vezes?
s.value_counts()

w    3
b    3
o    2
9    2
q    2
p    2
j    1
n    1
i    1
e    1
dtype: int64

In [9]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [10]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [11]:
#saber os tipos de imoveis temos
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [12]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64